.Blades{
    top: 40.3vh;
    left: 64.57vw;
    position: absolute;
    z-index: -20;
    width: 19vw;
    animation-name: rer;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.BackBlades{
    top: 7vh;
    left: 6.6vw;
    width: 90vw;
    position: absolute;
    z-index: -21;
    
}

@keyframes rer {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
